h1{
    font-size: 50px;
    font-weight: normal;
    font-family: Verdana;
    text-align: center;
    color: white;
}
h2 {
    color: white;
    font-size: 42px;
    font-weight: 300;
}
body {
    background-color: black;
    text-align: center;
    color: gray;
    font-family: Verdana;
    font-size: 21px;
}

.dnlex{
  font-size: 16px;
  color: aquamarine;
}

#copyright{
  text-align: right;
}
